## PHP-APACHE                                                   *** .htaccess ***
##
## ******************************************************************************
## * ---doortry.ru                              Произвести локальные установки PHP *
## ******************************************************************************
##
##                                                     Автор:       Труфанов В.Е.
##                                                     Дата создания:  09.04.2019
## Copyright © 2019 tve                                Посл.изменение: 02.08.2019

php_value browscap browscap.ini
php_value upload_max_filesize 2M

## **************************************************************** .htaccess ***
