/** HTML5/CSS3, EDGE/CHROME                              *** SignaPhoto.css ***

 ******************************************************************************
 *           Определить стили ландшафтной версии "Подписать фотографию"       *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  03.06.2021
 Copyright © 2021 tve                                Посл.изменение: 15.01.2022
*/
html{font-family:'Anonymous Pro',monospace;font-size:16px;}

/* Содержим поля в ширине блока (кроме margin) */
* {box-sizing:border-box;}
/* Выравниваем базовую линию блока по базовой линии родителя */
html, body,
a, abbr, acronym, address, article, aside, audio, b, big, blockquote,button, 
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, 
em, embed,  
fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, 
object, ol, output, p, pre, q, ruby, 
s, samp, section, small, span, strike, strong, sub, summary, sup, 
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
/* Снимаем умалчиваемый стили браузеров при фокусировании на поле ввода */
*:focus {outline:none;}
/* Все секции представляем, как блоки */
article, aside, details, div, figcaption, figure, footer, header, hgroup, 
menu, nav, section 
{
	display:block;
}
/* Нумеруем списки арабскими числами (1,2,3,4,...) */
ol 
{ 
	list-style:decimal;
}
/* Ставим маркер в виде квадрата в маркированных списках */
ul 
{
	list-style:square;
}
body
{
   /*background:red;*/
   width:100%;
   height:100%;
   font-size:1rem;
}
/* Оформляем скелет разметки 
#All{background:yellow;} #Lead{background:aqua;}
#All,#Lead {position:fixed; height:100%;}
#All  {left:0;  width:92%; }
#Lead {right:0; width:8%;}   */
/* Размечаем правую и левую колонки области просмотра 
#View{background:lightyellow;} #Proba{background:khaki;}
#View  {width:48%; float:left;  height:100%;}
#Proba {width:52%; float:right; height:100%;}         */
/* Формируем область для показа загруженной фотографии и подписи 
#Photo{background:linen;} #Stamp{background:gainsboro;}
#Photo {height:82%;}
#Stamp {height:18%;}    */
/* Стилизация кнопок 
.navButtons
{  
   border:1px gray solid;
   overflow:hidden;
   display:block;  
   height:50px;  
   width:50px;  
   margin:10px;
   -moz-box-shadow:5px 5px 7px rgba(3,33,33,.7);  
   -webkit-box-shadow: 5px 5px 7px rgba(3,33,33,.7);  
   box-shadow: 5px 5px 7px rgba(3,33,33,.7);  
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   border-radius:4px;
}
.navButtons:hover
{
   border:2px solid black;
   background-color:#fff;
}
.hiddenInput
{  
   overflow: hidden;
   display:block;  
   height:0px;  
   width:0px;  
}                      */
/* Прячем див с кнопкой активации загрузки файла 
#ipfDivPic {display:none;}                       */

/* Прячем разметочные объекты для загрузки файла изображения 
#InfoLead  {width:0;height:0;padding:0;margin:0;}
#my_hidden_file,#my_hidden_load
{font-size:0;width:0;border-style:none;background-color:transparent;}  */
/* Позиционируем плавающий фрэйм загрузки изображений 
#alfFrame{display:block;background-color:transparent;position:absolute;z-index:201;width:90%;height:90%;} */ 

/* Перед раскрытием страницы нулевые размеры изображений */
/*#pic,#picStamp,#picProba{width:0;height:0;}*/

/*
 *********************************************************** SignaPhoto.css ***
*/	
	

