/** HTML5/CSS3, EDGE/CHROME                              *** SignaReset.css ***

 ******************************************************************************
 *           Определить стили ландшафтной версии "Подписать фотографию"       *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  03.06.2021
 Copyright © 2021 tve                                Посл.изменение: 14.11.2021
*/

html{font-family:'Anonymous Pro',monospace;font-size:16px;}

/* Содержим поля в ширине блока (кроме margin) */
* {box-sizing:border-box;}
/* Выравниваем базовую линию блока по базовой линии родителя */
html, body,
a, abbr, acronym, address, article, aside, audio, b, big, blockquote,button, 
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, 
em, embed,  
fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, 
object, ol, output, p, pre, q, ruby, 
s, samp, section, small, span, strike, strong, sub, summary, sup, 
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
/* Снимаем умалчиваемый стили браузеров при фокусировании на поле ввода */
*:focus {outline:none;}
/* Все секции представляем, как блоки */
article, aside, details, div, figcaption, figure, footer, header, hgroup, 
menu, nav, section 
{
	display:block;
}
/* Нумеруем списки арабскими числами (1,2,3,4,...) */
ol 
{ 
	list-style:decimal;
}
/* Ставим маркер в виде квадрата в маркированных списках */
ul 
{
	list-style:square;
}
body
{
   background:red; 
   width:100%;
   height:100%;
   font-size:1rem;
}

/* Оформляем скелет разметки */
#All{background:yellow;} #Lead{background:aqua;}
#All,#Lead {position:fixed; height:100%; /*overflow:auto;*/}
#All  {left:0;  width:92%; }
#Lead {right:0; width:8%;}
/* Размечаем правую и левую колонки области просмотра */
#View{background:lightyellow;} #Proba{background:khaki;}
#View  {width:48%; float:left;  height:100%;}
#Proba {width:52%; float:right; height:100%;}
/* Формируем область для показа загруженной фотографии и подписи */
#Photo{background:linen;} #Stamp{background:gainsboro;}
#Photo {height:82%;}
#Stamp {height:18%;}


#pic
{
   width:30%;
   padding:0;
}
#picProba
{
width:98%;
}
#picStamp
{
height:80%;
}

.btnLead
{
   width:100%;
   height:18%;
   background-color:transparent; 
}


/*
 *********************************************************** SignaReset.css ***
*/	
	

