/*
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
.sm-mytheme{
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.sm-mytheme a, .sm-mytheme a:hover, .sm-mytheme a:focus, .sm-mytheme a:active {
  padding: 10px 20px;
  padding-right: 58px;
  background: #3092c0;
  background-image: linear-gradient(to bottom, #119811, #118cb8);
  color: #777;
  font-family: "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.sm-mytheme a.current {
  background: #006892;
  background-image: linear-gradient(to bottom, #006188, #006f9c);
  color: #777;
}
*/
/* Your rules to style the menu in mobile view (collapsible mode) here... */
@media (min-width: 768px) 
{
  /* start... (it's not recommended editing these rules) */
  .sm-mytheme ul{position:absolute;width:12rem;}
  .sm-mytheme li{float:left;}
  .sm-mytheme.sm-rtl li{float:right;}
  .sm-mytheme ul li,.sm-mytheme.sm-rtl ul li,.sm-mytheme.sm-vertical li{float:none;}
  .sm-mytheme a{white-space:nowrap;}
  .sm-mytheme ul a,.sm-mytheme.sm-vertical a{white-space:normal;}
  .sm-mytheme .sm-nowrap > li > a,.sm-mytheme .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
  /* ...end */

  /* Your rules to style the menu in desktop view here... */
}


/* для гамбургера */
.main-menu-btn 
{
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after
{
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #bbb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-menu-btn-icon:before 
{
  content: '';
  top: -7px;
  left: 0;
}
.main-menu-btn-icon:after 
{
  content: '';
  top: 7px;
  left: 0;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon 
{
  height: 0;
  background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before 
{
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after
{
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state 
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu 
{
  display: none;
}
#main-menu-state:checked ~ #main-menu 
{
  display: block;
}
@media (min-width: 768px)
{
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}

